# Python
__pycache__/
*.py[cod]
*.class

# Virtual environments
venv/
.venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/
*.code-workspace

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and coverage
*.log
.coverage
htmlcov/

# Environment variables
.env

# OS files
.DS_Store
